.movies-card-list {
  margin: 0;
  padding: 40px 10px 14px;
  list-style: none;
}

.movies-card-list__item {
  margin-bottom: 16px;
}

.movies-card-list__error {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .movies-card-list{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, calc((100% - 10px)/2));
  }
}

@media screen and (min-width: 768px) {
  .movies-card-list {
    padding: 70px 30px 30px;
    gap: 35px 24px;
    grid-template-columns: repeat(2, calc((100% - 24px)/2));
  }

  .movies-card-list__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .movies-card-list {
    padding: 70px 70px 10px;
    gap: 32px;
    grid-template-columns: repeat(3, calc((100% - 64px)/3));
  }
}