.about {
  padding: 70px 18px;
}

.about__title {
  margin: 0;
  padding-bottom: 28px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  border-bottom: 1px solid #DADADA;
}

.about__subtitle {
  margin-top: 60px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: normal;
}

.about__description {
  margin: 0;
  max-width: 284px;
  font-size: 11px;
  line-height: 16px;
}

.about__time {
  margin-top: 60px;
  display: grid;
  row-gap: 13px;
  grid-template-columns: 35%  65%;
  align-items: center;
}

.about__week {
  padding: 11px;
  display: block;
  text-align: center;
  font-size: 11px;
}

.about__week:first-of-type {
  color: #000;
  background-color: #3DDC84;
}

.about__week:nth-of-type(2) {
  background-color: #303030;
}

.about__week:nth-of-type(3),
.about__week:nth-of-type(4) {
  padding: 0;
  color: #A0A0A0;
}

@media screen and (min-width: 420px) {
  .about__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .about__subtitle {
    font-size: 20px;
    letter-spacing: -0.8px;
  }

  .about__description {
    max-width: 352px;
    font-size: 12px;
    line-height: 18px;
  }

  .about__time {
    grid-template-columns: 140px  1fr;
    row-gap: 6px;
  }

  .about__week {
    padding: 9px;
    font-size: 14px;
  }
}


@media screen and (min-width: 768px) {
  .about {
    padding: 93px 50px;
  }

  .about__title {
    padding-bottom: 23px;
    font-size: 22px;
    letter-spacing: -0.88px;
  }

  .about__subtitle {
    margin-top: 70px;
    margin-bottom: 22px;
  }

  .about__time {
    margin-top: 94px;
    row-gap: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 112px 70px;
  }

  .about__box {
    gap: 40px;
  }
  
  .about__subtitle {
    margin-top: 70px;
    margin-bottom: 28px;
  }

  .about__description {
    max-width: unset;
    font-size: 14px;
    line-height: 18px;
  }

  .about__time {
    margin-top: 113px;
    grid-template-columns: 228px  1fr;
    row-gap: 17px;
  }
}

