.not-found {
  padding-top: 329px;
  padding-bottom: 30px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.not-found__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 400;
  line-height: normal;
}

.not-found__subtitle {
  margin: 0;
  font-size: 12px;
  line-height: normal;
}

.not-found__link {
  margin-top: auto;
  font-size: 12px;
  line-height: normal;
  color: #4285F4;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .not-found {
    padding-top: 408px;
    padding-bottom: 222px;
  }

  .not-found__title {
    font-size: 145px;
    margin-bottom: 5px;
  }

  .not-found__subtitle {
    font-size: 16px;
  }

  .not-found__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .not-found {
    padding-top: 246px;
    padding-bottom: 60px;
  }
}