.sign-page {
  padding: 56px 30px 30px;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sign-page__title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sign-page__logo-link {
  display: flex;
  transition: .5s;
}

.sign-page__logo-link:hover {
  opacity: .8;
}

.sign-page__subtitle {
  margin-top: 50px;
  margin-bottom: 74px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.sign-page__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.sign-page__button {
  margin-top: auto;
  margin-bottom: 14px;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  background-color: #4285F4;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: .5s;
}

.sign-page__button:disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  cursor: default;
}

.sign-page__button:disabled:hover {
  opacity: 1;
}

.sign-page__button:hover {
  opacity: 0.8;
}

.sign-page__logged {
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  line-height: normal;
  color: #8B8B8B;
  display: flex;
}

.sign-page__sign-link {
  margin-left: 7px;
  color: #4285F4;
  text-decoration: none;
  transition: .5s;
}

.sign-page__sign-link:hover {
  opacity: .7;
}

@media screen and (min-width: 768px) {
  .sign-page {
    margin: 0 auto;
    padding: 232px 0;
    width: 396px;
    align-items: start;
  }

  .sign-page__title {
    align-items: start;
  }

  .sign-page__subtitle {
    margin-top: 40px;
    margin-bottom: 34px;
  }

  .sign-page__form {
    width: 100%;
  }

  .sign-page__button {
    margin-bottom: 16px;
    padding: 14px;
    font-size: 14px;
  }

  .sign-page__logged {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .sign-page {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}