.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.nav_logged {
  padding-top: 144px;
  padding-bottom: 47px;
  width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
  position: fixed;
  flex-direction: column;
  box-sizing: border-box;
  transform: translateX(100%);
  z-index: 1;
  transition: .5s;
}

.nav_logged-open {
  transform: translateX(0);
}

.nav__link {
  margin-left: 14px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
  transition: .5s;
}

.nav__link:hover {
  opacity: .7;
}

.nav__link_active {
  border-bottom: 2px solid #fff;
}

.nav__link_signin {
  padding: 5px 12px;
  color: #000;
  background: #3DDC84;
  border-radius: 3px;
}

.nav__link_is-logged {
  margin-left: 0;
  padding-bottom: 8px;
  font-size: 18px;
  text-align: center;
  line-height: normal;
}

.nav__link_is-logged:not(:last-of-type) {
  margin-bottom: 17px;
}

.nav__link_profile {
  margin-top: auto;
  margin-right: 43px;
  font-size: 14px;
  position: relative;
}

.nav__link_profile:after {
  margin-left: 13px;
  width: 30px;
  height: 30px;
  content: url('../../images/Profileicon.svg');
  position: absolute;
  bottom: 0;
}

.nav__burger {
  margin-right: 9px;
  width: 22px;
  height: 20px;
  position: relative;
  transition: .5s;
  z-index: 1;
}

.nav__burger-line {
  width: 22px;
  height: 2px;
  display: block;
  background-color: #fff;
  transition: .5s;
}

.nav__burger:before, .nav__burger:after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: '';
  background-color: #fff;
  transition: .4s;
}

.nav__burger:before {
  top: 9px;
}

.nav__burger:after {
  top: 18px;
}

.nav__burger_opened {
  top: 27px;
  right: 14px;
  position: fixed;
}

.nav__burger_opened:before{
  left: 5px;
  transform: translateY(-8px) rotateZ(45deg);
}

.nav__burger_opened:after {
  left: 5px;
  transform: translateY(-17px) rotateZ(-45deg);
}

@media screen and (min-width: 768px) {
  .nav__link {
    margin-left: 30px;
    font-size: 12px;
  }

  .nav__link_is-logged {
    margin-left: 0;
    padding-bottom: 6px;
    font-size: 18px;
  }

  .nav__link_is-logged:not(:last-of-type) {
    margin-bottom: 22px;
  }

  .nav__link_profile {
    font-size: 14px;
  }

  .nav__link_signin {
    padding: 8px 21px;
    background: #3DDC84;
    border-radius: 3px;
  }

  .nav_logged {
    padding-top: 159px;
    padding-bottom: 92px;
    max-width: 520px;
  }

  .nav-wrap_cover:before {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #000;
    opacity: .3;
    z-index: 1;
    content: '';
  }
  
  .nav__burger, .nav__burger-line {
    width: 26px;
  }
  
  .nav__burger:before, .nav__burger:after {
    height: 3px;
  }
  
  .nav__burger:after {
    top: 19px;
  }

  .nav__burger_opened {
    width: 22px;
    right: 30px;
  }
  
  .nav__burger_opened:before{
    left: 12px;
    transform: translateY(1px) rotateZ(45deg);
  }
  
  .nav__burger_opened:after {
    left: 12px;
    transform: translateY(-9px) rotateZ(-45deg);
  }
}

@media screen and (min-width: 1024px) {
  .nav-wrap_cover:before {
    display: none;
  }

  .nav_logged {
    padding: 0;
    width: unset;
    min-height: unset;
    flex-direction: row;
    position: static;
    transform: none;
  }

  .nav_logged-main {
    background-color: transparent;
  }

  .nav__link {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 400;
  }

  .nav__link_active {
    font-weight: 500;
    border-bottom: none;
  }

  .nav__link_is-logged{
    padding-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .nav__link_is-logged:nth-child(3) {
    margin-right: 20px;
  }

  .nav__link_is-logged:not(:last-of-type) {
    margin-bottom: 0;
    margin-left: 20px;
  }

  .nav__link_profile:after {
    bottom: -5px;
  }

  .nav__link_main {
    display: none;
  }

  .nav__link_signin {
    padding: 8px 21px;
    border-radius: 3px;
    background: #3DDC84;
  }

  .nav__burger {
    display: none;
  }
}