.search-form {
  padding: 70px 14px 73px;
  position: relative;
}

.search-form:after {
  width: calc(100% - 28px);
  height: 1px;
  bottom: 9px;
  position: absolute;
  content: '';
  background-color: rgba(170, 170, 170, .2);
}

.search-form__label {
  margin-bottom: 29px;
  display: block;
}

.search-form__input {
  padding: 17px 86px 17px 12px;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #8B8B8B;
  box-sizing: border-box;
  background-color: transparent;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
}

.search-form__input::placeholder {
  font-size: 16px;
  line-height: 16px;
  color: #8B8B8B;
}

.search-form__button {
  top: 76px;
  right: 20px;
  padding: 13px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #FFF;
  background-color: #4285F4;
  position: absolute;
  border-radius: 5px;
  border: none;
  text-align: center;
  transition: .5s;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: .8;
}

.search-form__checkbox-label {
  width: fit-content;
  display: flex;
  align-items: center;
  transition: .5s;
  cursor: pointer;
}

.search-form__checkbox-label:hover {
  opacity: .8;
}

.search-form__checkbox {
  width: 36px;
  height: 20px;
  position: relative;
  appearance: none;
  background-color: #343434;
  border-radius: 10px;
  transition: .5s;
}

.search-form__checkbox:after {
  width: 8px;
  height: 8px;
right: 6px;
  top: 6px;
  left: 6px;
  position: absolute;
  content: '';
  border-radius: 50%;
  background-color: #fff;
  transition: .5s;
}

.search-form__checkbox:checked {
  background-color: #3ddc84;
}

.search-form__checkbox:checked:after {
  background-color: #fff;
  transform: translateX(16px);
}

.search-form__checkbox-text {
  font-size: 11px;
  line-height: 18px;
  margin-left: 13px;
}

@media screen and (min-width: 768px) {
  .search-form {
    padding: 70px 30px 62px;
  }

  .search-form:after {
    width: calc(100% - 60px);
    bottom: 10px;
  }

  .search-form__label {
    margin-bottom: 26px;
  }

  .search-form__input {
    padding: 24px 115px 25px 25px;
  }
  
  .search-form__input, .search-form__input::placeholder {
    font-size: 18px;
    line-height: 20px;
  }

  .search-form__button {
    padding: 17px 29px;
    top: 80px;
    right: 40px;
  }
  
  .search-form__checkbox-text {
    margin-left: 14px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .search-form {
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 54px;
  }

  .search-form:after {
    width: calc(100% - 140px);
  }

  .search-form__button {
    right: 80px;
  }
}