.SignForm__name {
  color: #8B8B8B;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 5px;
  display: inline-block;
}

.SignForm__field {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #424242;
}

.SignForm__field::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  background-color: transparent;
}

.SignForm__error {
  font-size: 10px;
  line-height: normal;
  color: #EE3465;
  visibility: hidden;
}

.SignForm__error_visible {
  visibility: visible;
}