.header {
  padding: 18px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_main {
  background-color: #073042;
}

.header__logo-content {
  height: 38px;
  transition: .5s;
}

.header__logo-content:hover {
  opacity: .8;
}

@media screen and (min-width: 576px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1280px;
    box-sizing: border-box;
  }
}
