.footer {
  padding: 79px 10px 20px;
}

.footer__title {
  margin: 0;
  padding-bottom: 21px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #8B8B8B;
  border-bottom: 1px solid #424242;
}

.footer__nav {
  margin: 27px auto 28px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer__nav-item:first-child {
  margin-bottom: 8px;
}

.footer__date {
  text-align: center;
  font-size: 12px;
  line-height: normal;
  color: #8B8B8B;
  display: block;
}

.footer__links {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  line-height: normal;
  transition: .5s;
}

.footer__links:hover {
  opacity: .8;
}

@media screen and (min-width: 576px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  .footer__title {
    font-size: 13px;
    padding-bottom: 20px;
  }

  .footer__box {
    margin-top: 18px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer__links {
    font-size: 13px;
  }

  .footer__nav {
    margin: 0;
    display: flex;
  }

  .footer__nav-item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .footer__date {
    font-size: 13px;
    color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1280px;
    box-sizing: border-box;
  }
}