.promo {
  margin: 0 auto;
  padding: 29px 12px 28px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #073042;
}

.promo__img {
  width: 218px;
  height: 298px;
}

.promo__container {
  margin-top: -15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.promo__title {
  margin: 0;
  max-width: 450px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.promo__description {
  margin-top: 23px;
  margin-bottom: 84px;
  max-width: 260px;
  text-align: center;
  font-size: 13px;
  opacity: 0.5;
  line-height: normal;
}

.promo__link {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  transition: .5s;
}

.promo__link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .promo {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  .promo__img {
    width: 384px;
    height: 305px;
  }

  .promo__container {
    margin-top: 50px;
  }

  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .promo__description {
    margin-top: 21px;
    margin-bottom: 90px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .promo {
    padding: 74px 70px;
    align-items: start;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .promo__container {
    margin-top: 0;
    align-items: start;
  }

  .promo__title {
    max-width: 640px;
    font-size: 50px;
    line-height: 57px;
    text-align: start;
  }

  .promo__description {
    margin-top: 41px;
    margin-bottom: 144px;
    max-width: 290px;
    text-align: start;
  }
}

